<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core"
             allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <dataCacheClients>
    <dataCacheClient name="default">
      <hosts>
        <host name="testecase.cache.windows.net" cachePort="22233" />
      </hosts>
      <securityProperties mode="Message">
        <messageSecurity
          authorizationInfo="YWNzOmh0dHBzOi8vdGVzdGVjYXNlLWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvV1JBUHYwLjkvJm93bmVyJkZ3REtHOEprK2xORTMrZFVOaFh3VWtMbWRyUUNnUVNsWEFVenYrbGNHcE09Jmh0dHA6Ly90ZXN0ZWNhc2UuY2FjaGUud2luZG93cy5uZXQ=">
        </messageSecurity>
      </securityProperties>
    </dataCacheClient>

    <dataCacheClient name="SslEndpoint">
      <hosts>
        <host name="testecase.cache.windows.net" cachePort="22243" />
      </hosts>
      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity
          authorizationInfo="YWNzOmh0dHBzOi8vdGVzdGVjYXNlLWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvV1JBUHYwLjkvJm93bmVyJkZ3REtHOEprK2xORTMrZFVOaFh3VWtMbWRyUUNnUVNsWEFVenYrbGNHcE09Jmh0dHA6Ly90ZXN0ZWNhc2UuY2FjaGUud2luZG93cy5uZXQ=">
        </messageSecurity>
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>

  <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>